.pieChart {
    font-family: sans-serif;
    text-align: center;
    position: fixed;
    background-color: #f7f7f7;
    align-items: center;
    top: 25%;
  }

.test {
background-color: #259600;
}

.topRightFixedButton{
  position:fixed;
  top:50%;
  right:5%;
}

.middleFixed{
  position:fixed;
  top:40%;
  right:40%;
  background-color: #ffffff;
  padding: 5%;
}